/* Estilos específicos para index.html */

body {
    background-color: #f8f9fa; /* Color de fondo suave */
}

.hero-bg {
    background: linear-gradient(135deg, var(--primary-color), var(--dark-color));
    position: relative;
    overflow: hidden;
    padding: 5rem 0; /* Aumentar el padding superior e inferior */
}

.hero-content {
    position: relative;
    z-index: 2;
    text-align: center; /* Centrar el contenido del héroe */
}

.hero-title {
    font-size: 3rem; /* Aumentar el tamaño del título */
    margin-bottom: 1rem; /* Espacio debajo del título */
}

.hero-subtitle {
    font-size: 1.5rem; /* Aumentar el tamaño del subtítulo */
    margin-bottom: 1rem; /* Espacio debajo del subtítulo */
}

.hero-description {
    font-size: 1.2rem; /* Aumentar el tamaño de la descripción */
}

/* Ajustar el diseño de las tarjetas en el main */
.main {
    padding: 2rem; /* Espaciado alrededor del contenido principal */
}
